body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(14, 13, 13);
}


.logo {
    width: 80px;
}



.menu {
    width: 100%;
}

.menu button {
    width: 100%;
}

.menu a,
h3 {
    margin: 5px;
    width: 100%;
}



.cont {
    height: 80vh;
    padding: 15px;
    color: white;
    width: 100%;
    overflow: scroll;
}



#dtgProdutos {
    width: 300%;
}



.padd {
    margin-block: 5px;
}



.linha {
    display: flex;
    flex-direction: row;
}



footer {
    display: flex;
    align-itens: center;
    justify-content: center;
}